<div>
  <div class="flex justify-between">
    <div>
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        {{ task.title }}
      </h5>
      <div>
        <p class="text-sm">
          {{ task.description }}
        </p>
      </div>
    </div>
    <div class="flex justify-end gap-4">
      <button (click)="editTask()">
        <i class="text-base text-green-500 fa fa-edit"></i>
      </button>
      <button (click)="deleteTask()">
        <i class="text-base text-red-500 fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
