<!-- Top Bar Nav -->
<nav class="w-full py-4 bg-blue-800 shadow">
  <div
    class="container flex flex-wrap items-center justify-between w-full mx-auto"
  >
    <nav class="flex items-center">
      <ng-container *ngIf="user$ | async; else notLoggedIn">
        <ul
          class="flex items-center justify-between text-sm font-bold text-white no-underline uppercase"
        >
          <li>
            <a
              routerLink="/"
              [routerLinkActive]="'btn-inline_active'"
              [routerLinkActiveOptions]="{ exact: true }"
              class="px-4 hover:text-gray-200 hover:underline"
              >Home</a
            >
          </li>
          <li>
            <a
              class="px-4 hover:text-gray-200 hover:underline"
              routerLink="/projects"
            >
              {{ "MENU.PROJECTS" | translate }}
            </a>
          </li>
          <li>
            <a
              class="px-4 hover:text-gray-200 hover:underline"
              routerLink="/"
              (click)="onLogOut()"
            >
              {{ "MENU.LOGOUT" | translate }}
            </a>
          </li>
        </ul>
      </ng-container>

      <ng-template #notLoggedIn>
        <ul
          class="flex items-center justify-between text-sm font-bold text-white no-underline uppercase"
        >
          <li>
            <a
              routerLink="/"
              [routerLinkActive]="'btn-inline_active'"
              [routerLinkActiveOptions]="{ exact: true }"
              class="px-4 hover:text-gray-200 hover:underline"
              >Home</a
            >
          </li>
          <li>
            <a
              class="px-4 hover:text-gray-200 hover:underline"
              routerLink="/auth/login"
            >
              {{ "MENU.LOGIN" | translate }}
            </a>
          </li>
          <li>
            <a
              class="px-4 hover:text-gray-200 hover:underline"
              routerLink="/auth/sign-up"
            >
              {{ "MENU.SIGNUP" | translate }}
            </a>
          </li>
        </ul>
      </ng-template>
      <div class="flex items-center lang gap-x-2">
        <button
          type="button"
          [class.text-white]="appLanguage === 'ru'"
          (click)="onToggleLang('ru')"
        >
          {{ "MENU.LANG.RU" | translate }}
        </button>
        <button
          type="button"
          [class.text-white]="appLanguage === 'en'"
          (click)="onToggleLang('en')"
        >
          {{ "MENU.LANG.EN" | translate }}
        </button>
      </div>
    </nav>
  </div>
</nav>
