<!-- Top Bar Nav -->
<nav class="w-full py-4 bg-blue-800 shadow">
  <div
    class="container flex flex-wrap items-center justify-between w-full mx-auto"
  >
    <nav>
      <ul
        class="flex items-center justify-between text-sm font-bold text-white no-underline uppercase"
      >
        <li>
          <a class="px-4 hover:text-gray-200 hover:underline" href="#">Shop</a>
        </li>
        <li>
          <a
            class="px-4 hover:text-gray-200 hover:underline"
            routerLink="/auth/sign-up"
            [routerLinkActive]="'btn-inline_active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Sign Up
          </a>
        </li>
      </ul>
    </nav>

    <div class="flex items-center pr-6 text-lg text-white no-underline">
      <a class="" href="#">
        <i class="fab fa-facebook"></i>
      </a>
      <a class="pl-6" href="#">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="pl-6" href="#">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="pl-6" href="#">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>
